PORT=5000
FRONTEND_URL=https://sugrii.github.io/DataExpressGh

# Paystack Live Keys
PAYSTACK_SECRET_KEY=sk_live_68a8329efed2f9c83dd1c073c75126125b404d63
PAYSTACK_PUBLIC_KEY=pk_live_b44da3922fb7fc9522b23a5f1570732ea35d2adb
# Hubtel Live Keys & Credentials
HUBTEL_CLIENT_ID=qarnmjva
HUBTEL_CLIENT_SECRET=https://smsc.hubtel.com/v1/messages/send?clientsecret=boofqzgf&clientid=qarnmjva&from=Azigizaro&to=233552727299&content=This+Is+A+Test+Message
HUBTEL_POS_SALES_ID=your_hubtel_pos_sales_id
HUBTEL_SENDER_ID=Azigizaro
